$Namjoon: #183380;
$light-navy: #112970;
$cobalt-Two: #25439d;
$white: #ffffff;
$tealish: #20cdbb;

body {
    // background-color: #f7f8fa;
    margin: 0;
    padding: 0;
    font-family: NunitoSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    // font-size: 1em;
}

.header {
    height: 2.75em;
    // height: auto;
    background-color: $Namjoon;
    overflow: hidden;
    display: flex;
    width: 100%;
    float: left;
    .logo-wrap {
        width: 15%;
        margin: auto 0;
        // border: 1px solid red;
    }
    .logo {
        // float: left;
        width: auto;
        height: auto;
        max-width: 6.5em;
        display: flex;
        margin: 0.3em auto 0.5em 4em;
        // position: absolute;
    }
    .title {
        margin: 0.6em;
        font-family: "Nunito Sans";
        color: $white;
        text-align: center;

        // border: 1px solid red;
        .title-text {
            font-size: 1.1em;
            font-family: "Nunito Sans";
            color: #ffffff;
            font-weight: 800;
            margin-bottom: 2em;
        }
    }
    // .header-box {
    //     display: flex;
    //     // border: 2px solid orange;
    // }
    .search {
        // margin-left: 14em;
        // margin-right: 5em;
        // border: 2px solid red;
        width: 25%;
        margin: 0 auto;
        display: inline-block;
    }
    .search-text {
        width: 100%;
        display: block;
        margin: auto;
        height: 1.78em;
        padding: 1em;
        // margin-bottom: 0.5em;
        // margin-left: 2.5em;
        margin-top: 0.3em;
        border-radius: 0.12em;
        font-family: "Nunito Sans", "sans-serif";
        font-size: 1.1em;
        border: none;
        background-color: white;
        &:focus {
            outline: none;
        }
    }
    ::placeholder {
        opacity: 0.4;
        font-family: NunitoSans;
        font-size: 0.75em;
    }
    .search_icon {
        // border: 2px solid yellow;
        // width:50%;
        // float: right;
        // margin-top: 2em;
        // margin-left: 30em;
        position: absolute;
        right: 59em;
        object-fit: contain;
        opacity: 0.3;
        margin-top: 0.9em;
    }
    .icon-nav {
        // position: absolute;
        // margin: auto 0;
        color: #ffffff;
        font-size: 1em;
        display: flex;
        width: 60%;
        justify-content: flex-end;
        // margin-left: 68em;
        // margin-top: 0.8em;
        // border: 2px solid olive;
        // &.icon-nav1{
        //     margin-right:1em;
        // }
        .icon1 {
            margin-left: 1em;
        }
        .bookmark-icon {
            margin: auto 0;
            margin-left: 1.5em;
            object-fit: contain;
            // position: relative;
            display: flex;
        }
        .side-icon {
            margin-right: 1em;
            font-size: 1.3em;
        }
        .icon-label {
            opacity: 0.55;
            padding-top: 0.1em;
        }
        .icon {
            margin-right: 0.6em;
            font-size: 1.4em;
            &.explore-icon {
                font-size: 1.3em;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .header {
        height: fit-content;
        flex-direction: column;
        // height: 2.75em;
        width: 100%;
        // display: block;
        // margin: auto;
        .logo-wrap {
            width: 100%;
            // display: block;
            // margin: 0 auto;
            // border: 2px solid red;
            padding-right: 1.5em;
            margin-top: 0.5em;
        }
        .logo {
            margin: 0 auto;
        }
        .search_icon {
            right: 2em;
            margin-top: 0.8em;
        }
        .search {
            width: 95%;
        }
        .side-icon {
            margin-left: -0.5em;
        }
        // .search-text {
        //     font-size: 0.8em;
        // }
        .icon-nav {
            width: 100%;
            font-size: 0.8em;
            margin-left: -2.4em;
            margin-top: 0.5em;
            // padding: 0.5em;
            // margin: 0 auto;
            // flex-direction: row;
            // border: 2px solid yellow;
        }
        .icon-label {
            font-size: 0.7em;
        }
    }
}
