body {
  margin: 0;
  padding: 0;
  font-family: NunitoSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.header {
  height: 2.75em;
  background-color: #183380;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
}

.header .logo-wrap {
  width: 15%;
  margin: auto 0;
}

.header .logo {
  width: auto;
  height: auto;
  max-width: 6.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3em auto 0.5em 4em;
}

.header .title {
  margin: 0.6em;
  font-family: "Nunito Sans";
  color: #ffffff;
  text-align: center;
}

.header .title .title-text {
  font-size: 1.1em;
  font-family: "Nunito Sans";
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 2em;
}

.header .search {
  width: 25%;
  margin: 0 auto;
  display: inline-block;
}

.header .search-text {
  width: 100%;
  display: block;
  margin: auto;
  height: 1.78em;
  padding: 1em;
  margin-top: 0.3em;
  border-radius: 0.12em;
  font-family: "Nunito Sans", "sans-serif";
  font-size: 1.1em;
  border: none;
  background-color: white;
}

.header .search-text:focus {
  outline: none;
}

.header ::-webkit-input-placeholder {
  opacity: 0.4;
  font-family: NunitoSans;
  font-size: 0.75em;
}

.header :-ms-input-placeholder {
  opacity: 0.4;
  font-family: NunitoSans;
  font-size: 0.75em;
}

.header ::-ms-input-placeholder {
  opacity: 0.4;
  font-family: NunitoSans;
  font-size: 0.75em;
}

.header ::placeholder {
  opacity: 0.4;
  font-family: NunitoSans;
  font-size: 0.75em;
}

.header .search_icon {
  position: absolute;
  right: 59em;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
  margin-top: 0.9em;
}

.header .icon-nav {
  color: #ffffff;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .icon-nav .icon1 {
  margin-left: 1em;
}

.header .icon-nav .bookmark-icon {
  margin: auto 0;
  margin-left: 1.5em;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .icon-nav .side-icon {
  margin-right: 1em;
  font-size: 1.3em;
}

.header .icon-nav .icon-label {
  opacity: 0.55;
  padding-top: 0.1em;
}

.header .icon-nav .icon {
  margin-right: 0.6em;
  font-size: 1.4em;
}

.header .icon-nav .icon.explore-icon {
  font-size: 1.3em;
}

@media screen and (max-width: 420px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header .logo-wrap {
    width: 100%;
    padding-right: 1.5em;
    margin-top: 0.5em;
  }
  .header .logo {
    margin: 0 auto;
  }
  .header .search_icon {
    right: 2em;
    margin-top: 0.8em;
  }
  .header .search {
    width: 95%;
  }
  .header .side-icon {
    margin-left: -0.5em;
  }
  .header .icon-nav {
    width: 100%;
    font-size: 0.8em;
    margin-left: -2.4em;
    margin-top: 0.5em;
  }
  .header .icon-label {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=header.css.map */