$Namjoon: #183380;
$light-navy: #112970;
$cobalt-Two: #25439d;
$white: #ffffff;
$tealish: #20cdbb;

body {
    background: linear-gradient(323deg, $light-navy 108%, $cobalt-Two 34%);
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    // width: 100%;
}
.header {
    .logo {
        height: auto;
        width: 100%;
        max-width: 14em;
        margin: 0 auto;
        padding: 3em;
        display: block;
        object-fit: contain;
    }
}
.container {
    padding: 0 3em 5em 3em;
    min-height: calc(100vh - 15vh - 5vh);
    .container-box {
        background-color: $Namjoon;
        height: auto;
        width: 28%;
        margin: 0 auto;
        padding: 2em 2em;
        .title {
            position: relative;
            width: auto;
            max-width: 31.8em;
            height: auto;
            margin: 0.2em 0 1em;
            font-family: "Nunito Sans";
            font-size: 1.7em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.39;
            letter-spacing: normal;
            color: $white;
            text-align: center;
            display: block;
        }
        .log-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            text-decoration: none;
        }
        .btn {
            max-width: 80%;
            width: auto;
            height: 20%;
            margin: 2em auto 1em auto;
            padding: 0.5em;
            border-radius: 2em;
            cursor: pointer;
            &.btn_Login {
                background-color: $tealish;
            }
            &.btn_Signup {
                background-color: #51a8d1;
                margin-top: 1em;
            }
        }
        .or-section {
            display: flex;
            margin: 0 1.7em;
            text-align: center;
            padding: 1.5em;
        }
        .or-text {
            margin: 0 1em;
            opacity: 0.15;
            font-family: "Roboto";
            font-size: 1em;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
        }

        .line {
            // border: 2px yellow solid;
            width: 15em;
            // height: 0rem;
            margin: auto 0;
            opacity: 0.15;
            border: solid 1px #ffffff;
        }
        .signup-box {
            text-align: center;
        }
        .signup-title {
            height: 2em;
            opacity: 0.5;
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: $white;
            text-align: center;
        }
        .sign-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            text-decoration: none;
        }
    }
}


@media screen and (max-width: 750px) {
    .container {
        .container-box {
            height: auto;
            width: 56%;
        }
    }
}

@media screen and (max-width: 420px) {
    .header {
        .logo {
            max-width: 11em;
        }
    }
    .container {
        padding: 0 2em 5em 2em;
        min-height: calc(100vh - 5vh - 5vh);
        .container-box {
            padding: 1em 1em;
            height: auto;
            width: 85%;
            .title {
                font-size: 1.3em;
            }
        }
    }
    .footer {
        font-size: 0.8em;
    }
}
