$Namjoon: #183380;
$light-navy: #112970;
$cobalt-Two: #25439d;
$white: #ffffff;
$tealish: #20cdbb;

body {
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1em;
}
.container {
    width: 100%;
    // height: auto;
    min-height: calc(100vh - 44px - 44.38px);
    .login-container {
        // width: 100%;
        // text-align: center;
        position: relative;
        margin: auto;
        padding: 2.5rem;
        // box-sizing: border-box  ;
        .title {
            font-size: 28px;
            color: #242a41;
            font-weight: bold;
            text-align: center;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: normal;
            // letter-spacing: normal;
            margin-bottom: 2.7em;
        }
        .login-wrapper {
            width: 100%;
            max-width: 25%;
            height: auto;
            margin: 0 auto;
            padding: 35px 55px 30px;
            border-radius: 4px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            margin-bottom: 2.5em;
        }
        .label-text {
            // border: 1px red solid;
            font-size: 0.9em;
            opacity: 0.3;
            height: 10%;
            width: 100%;
            font-family: "Nunito Sans";
            color: #242a41;
            font-weight: bold;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: normal;
            // letter-spacing: normal;
            float: left;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        .input-text {
            width: 100%;
            // height: 8%;
            font-weight: bold;
            font-size: 1.1em;
            // letter-spacing: 0.5rem;
            border: none;
            border-bottom: 2px #f7f8fa solid;
            outline: none;
            margin-bottom: 0.5em;
            &:hover {
                border-bottom: 2px rgb(0, 204, 255) solid;
            }
        }
        .pwd{
            position: relative;
        }
        .error {
            color: red;
            font-family: "Nunito Sans";
            //    position: relative;
            // float: left;
            width: 100%;
            display: block;
            // margin-right: 11em;
            // margin-top: 0.2em;
            margin-bottom: 0.5em;
            font-size: 0.9rem;
        }
        input.error {
            color: black;
        }
        // & .main__login-container_wrapper_errorMeg {
        //     // border: 1px blue solid;
        //     color: red;
        //     // padding: 4em 0;
        //     // width: 100%;
        //     // padding-right: 5em;
        // }
        .eye_icon {
            // width:auto;
            float: right;
            // margin-top: 2em;
            margin-left: 23vw;
            position: absolute;
            right: 0.3em;
            object-fit: contain;
            opacity: 0.3;
        }
        .Log-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            // text-align: center;
            font-weight: 800;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: normal;
            // letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .Btn {
            max-width: 100%;
            width: auto;
            height: 20%;
            margin: 2em auto 1em auto;
            padding: 0.5em;
            border-radius: 2em;
            text-align: center;
            cursor: pointer;
            &.Btn_Login {
                background-color: #20cdbb;
            }
        }
        // .main__login-container_wrapper_signup-box {
        //     display: flex;
        //     width: 100%;
        //     display: inline-block;
        //     margin-bottom: 5rem;
        // }

        .forgot-password {
            margin: 15px auto 0 auto;
            font-family: "Nunito Sans";
            font-size: 0.9em;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: #51a8d1;
            text-decoration: none;
        }
        .signup-box {
            text-align: center;
            .signup-text {
                opacity: 0.3;
                font-family: "Nunito Sans";
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #242a41;
            }

            .signup-link {
                margin: 0 0 0 2px;
                font-family: "Nunito Sans";
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: right;
                color: #51a8d1;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 420px) {

    .main {
        .login-container {
            .title {
                font-size: 28px;
                color: #242a41;
                font-weight: bold;
                font-family: "Nunito Sans";
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }
            .login-wrapper {
                width: 100%;
                max-width: 52%;
                height: auto;
                margin: 0 auto;
                padding: 35px 55px 30px;
                border-radius: 4px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
                background-color: #ffffff;
                margin-bottom: 2.5em;
            }
            .eye_icon {
                margin-left: 3.5em;
            }
        }
    }
}
