$Namjoon: #183380;
$light-navy: #112970;
$cobalt-Two: #25439d;

body {
    background: linear-gradient(323deg, $light-navy 108%, $cobalt-Two 34%);
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    // width: 100%;
}
header {
    & .Logo {
        height: auto;
        width: 100%;
        max-width: 14em;
        margin: 0 auto;
        padding: 3em;
        display: block;
        object-fit: contain;
    }
}
main {
    padding: 0 3em 5em 3em;
    min-height: calc(100vh - 15vh - 5vh);
    & section {
        background-color: $Namjoon;
        height: auto;
        width: 28%;
        margin: 0 auto;
        padding: 2em 2em;
        & .section__title {
            position: relative;
            width: auto;
            max-width: 31.8em;
            height: auto;
            margin: 0.2em 0 1em;
            font-family: "Nunito Sans";
            font-size: 1.7em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.39;
            letter-spacing: normal;
            color: #ffffff;
            text-align: center;
            display: block;
        }
        & .section__Log-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
        }
        & .section__Btn {
            max-width: 80%;
            width: auto;
            height: 20%;
            margin: 2em auto 1em auto;
            padding: 0.5em;
            border-radius: 2em;
            cursor: pointer;
            &.section__Btn_Login {
                background-color: #20cdbb;
            }
            &.section__Btn_Signup {
                background-color: #51a8d1;
                margin-top: 1em;
            }
        }
        & .section__Or-section {
            display: flex;
            margin: 0 1.7em;
            text-align: center;
            padding: 1.5em;
        }
        & .section__OR {
            margin: 0 1em;
            opacity: 0.15;
            font-family: "Roboto";
            font-size: 1em;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: white;
        }

        & .section__Line {
            // border: 2px yellow solid;
            width: 15em;
            // height: 0rem;
            margin: auto 0;
            opacity: 0.15;
            border: solid 1px #ffffff;
        }
        & .section__signup-title-Link {
            text-align: center;
        }
        & .section__signup-title {
            height: 2em;
            opacity: 0.5;
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #ffffff;
            text-align: center;
        }
        & .section__Sign-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

footer {
    background-color: #1c2646;
    padding: 0.2em;
    height: auto;
    display: flex;
    margin: 0 auto;
    .footer__copyright {
        margin: 0.5em auto 0.5em 3em;
        opacity: 0.7;
        font-family: "Nunito Sans";
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        float: left;
    }
    .footer__social-icon {
        float: right;
        margin: 0.5em 3em 0.5em auto;
        opacity: 0.7;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5rem;
        .fa {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 750px) {
    main {
        section {
            height: auto;
            width: 56%;
        }
    }
}

@media screen and (max-width: 420px) {
    header {
        .Logo {
            max-width: 11em;
        }
    }
    main {
        padding: 0 2em 5em 2em;
        min-height: calc(100vh - 5vh - 5vh);
        section {
            padding: 1em 1em;
            height: auto;
            width: 85%;
            & .section__title {
                font-size: 1.3em;
            }
        }
    }
    footer {
        font-size: 0.8em;
    }
}

