body {
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
}
header {
    height: 44px;
    background-color: #183380;
    overflow: hidden;
    display: block;
    width: 100%;
    .header__header-logo {
        & .header__header-logo_Logo {
            float: left;
            width: auto;
            height: auto;
            max-width: 6.5em;
            display: flex;
            margin: 0.4em auto 0.5em 4em;
            position: absolute;
        }
    }
    .header__header-title {
        margin: 0.6em;
        font-family: NunitoSans;
        color: #ffffff;
        text-align: center;
        & .header__header-title_title-text {
            font-size: 1.1em;
            font-family: NunitoSans;
            color: #ffffff;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }
}

main {
    min-height: calc(100vh - 44px - 44.38px);
    .main__login-container {
        text-align: center;
        position: relative;
        margin: auto;
        padding: 2.5rem;
        & .main__login-container_title {
            font-size: 28px;
            font-family: NunitoSans;
            color: #242a41;
            font-weight: bold;
            font-family: "NunitoSans";
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        & .main__login-container_wrapper {
            width: 100%;
            max-width: 25%;
            height: auto;
            margin: 0 auto;
            padding: 35px 55px 30px;
            border-radius: 4px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            margin-bottom: 2.5em;
        }
        & .main__login-container_wrapper_label-text {
            font-size: 14px;
            opacity: 0.3;
            font-family: NunitoSans;
            color: #242a41;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            float: left;
            margin-top: 1.2rem;
        }
        & .main__login-container_wrapper_input-text {
            width: 100%;
            height: 2em;
            font-weight: bold;
            font-size: 1.1em;
            // letter-spacing: 0.5rem;
            border: none;
            border-bottom: 2px #f7f8fa solid;
            outline: none;
        }
        & .main__login-container_wrapper_input-text:hover {
            border-bottom: 2px rgb(0, 204, 255) solid;
        }
        & .main__login-container_wrapper_eye_icon {
            object-fit: contain;
            opacity: 0.3;
            position: absolute;
            margin-left: 9em;
            margin-top: -2em;
        }
        .Log-Link {
            font-family: "Nunito Sans";
            font-size: 1em;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
        }
        .main__login-container_wrapper_Btn {
            max-width: 100%;
            width: auto;
            height: 20%;
            margin: 2em auto 1em auto;
            padding: 0.5em;
            border-radius: 2em;
            cursor: pointer;
            &.main__login-container_wrapper_Btn_Login {
                background-color: #20cdbb;
            }
        }
        .main__login-container_wrapper_signup-box {
            display: flex;
            width: 100%;
            display: inline-block;
            margin-bottom: 5rem;
        }

        .main__login-container_wrapper_Forgot-password {
            margin: 15px auto 0 auto;
            font-family: NunitoSans;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: #51a8d1;
            text-decoration: none;
        }
        .main__login-container_signup {
            .main__login-container_signup-text {
                opacity: 0.3;
                font-family: NunitoSans;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #242a41;
            }

            .main__login-container_signup-link {
                margin: 0 0 0 2px;
                font-family: NunitoSans;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: right;
                color: #51a8d1;
                text-decoration: none;
            }
        }
    }
}
footer {
    background-color: #1c2646;
    padding: 0.2em;
    height: auto;
    display: flex;
    margin: 0 auto;
    .footer__copyright {
        margin: 0.5em auto 0.5em 3em;
        opacity: 0.7;
        font-family: "Nunito Sans";
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        float: left;
    }
    .footer__social-icon {
        float: right;
        margin: 0.5em 3em 0.5em auto;
        opacity: 0.7;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5rem;
        .fa {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 420px) {
    header {
        .header__header-logo {
            & .header__header-logo_Logo {
                // width: auto;
                max-width: 5.5em;
                margin: 0.5em auto 0.5em 1em;
            }
        }
    }
    main {
        .main__login-container {
            & .main__login-container_title {
                font-size: 28px;
                font-family: NunitoSans;
                color: #242a41;
                font-weight: bold;
                font-family: "NunitoSans";
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            }
            & .main__login-container_wrapper {
                width: 100%;
                max-width: 52%;
                height: auto;
                margin: 0 auto;
                padding: 35px 55px 30px;
                border-radius: 4px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
                background-color: #ffffff;
                margin-bottom: 2.5em;
            }
            & .main__login-container_wrapper_eye_icon {
                margin-left: 3.5em;
            }
        }
    }
    footer {
        font-size: 0.8em;
    }
}
